<head>
  <title> Chat room </title>
</head>
<body>
<header>
     <h>
         You're logged in as <font color="#FF0000">{{user.username}} </font>. To log out press <a href="{% url 'index' %}">here </a>
     </h>
</header>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const chat_nick = ({text: '{{nickname}}'});
            const message_text = messageInputDom.value
            const message = chat_nick.text + ': ' + messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    // if not safe, set csrftoken
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                    url: '/ajax/message',
                    data: {
                        'message': message_text,
                        'author': chat_nick.text
                    },
<!--                    following script is used for testing purpouses-->
<!--                    success : function(json) {-->
<!--                        alert("Successfully sent the message to Django");-->
<!--                    },-->
<!--                    error : function(xhr,errmsg,err) {-->
<!--                        alert("Could not send message to Django. Error: " + xhr.status + ": " + xhr.responseText);-->
<!--                    }-->
            });
        };
    </script>
</body>